@model JobEngine.Web.Areas.Dashboard.Models.DashboardViewModel

@{
    ViewBag.Title = "Client Status";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $("#mainTable").DataTable({ bFilter: false, bInfo: false, bLengthChange: false });
    });
</script>
}


<div class="row">
    <div class="col-md-6">
        <table id="mainTable" class="display">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JobEngineClients[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobEngineClients[0].LastConnected)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobEngineClients[0].IpAddress)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.JobEngineClients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        @if (item.LastConnected == null)
                {
                            <td>
                                <div class="label label-warning" style="font-size:12px;">
                                    NEVER CONNECTED
                                </div>
                            </td>
                        }
                        else if (item.LastConnected < DateTime.UtcNow.AddMinutes(-5))
                        {
                            <td>
                                <div class="label label-danger" style="font-size:12px;">
                                    @Html.DisplayFor(modelItem => item.LastConnected)
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="label label-success" style="font-size:12px;">
                                    @Html.DisplayFor(modelItem => item.LastConnected)
                                </div>
                            </td>
                        }


                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
