<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Job Engine</title>

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("styles", false)
    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)

    <link href="~/Content/plugins.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />


</head>
<body>

@using (Html.BeginForm("LogOff", "Account", new { area = "SiteManagement" }, FormMethod.Post, new { @id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}
    <!-- begin main WRAPPER -->
    <div id="wrapper">

        <nav class="navbar-top" role="navigation">

            <!-- begin BRAND HEADING -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                    <i class="fa fa-bars"></i> Menu
                </button>
                <a class="navbar-brand" href="~/" style="font-style:italic;font-weight:bold;color:#b2eb13;"><i class="fa fa-cube">&nbsp;</i>Job Engine</a>
            </div>
            <!-- end BRAND HEADING -->

            <div class="nav-top">
                <ul class="nav navbar-left">
                    <li class="tooltip-sidebar-toggle">
                        <a href="#" id="sidebar-toggle" data-toggle="tooltip" data-placement="right" title="Sidebar Toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="/SiteManagement/Manage">
                                    <i class="fa fa-gear"></i> Account Settings
                                </a>
                            </li>
                            <li>
                               
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-sign-out"></i> Logout
                                </a>                               
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

        </nav>

        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">


                    <li class="nav-search">
                        <form role="form">
                            <input type="search" class="form-control" placeholder="Search...">
                            <button class="btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </li>

                    <li>
                        <a class="active" href="~/">
                            <i class="fa fa-bar-chart-o"></i> Dashboard
                        </a>
                    </li>

                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#charts">
                            <i class="fa fa-gears"></i> Management <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" id="charts">
                            <li>
                                <a href="~/Customers/">
                                    <i class="fa fa-angle-double-right"></i> Customers
                                </a>
                            </li>
                            <li>
                                <a href="~/Clients/">
                                    <i class="fa fa-angle-double-right"></i> Job Engine Clients
                                </a>
                            </li>
                            <li>
                                <a href="~/AssemblyJobs">
                                    <i class="fa fa-angle-double-right"></i> Assembly Jobs
                                </a>
                            </li>
                            <li>
                                <a href="~/PowershellJobs">
                                    <i class="fa fa-angle-double-right"></i> Powershell Jobs
                                </a>
                            </li>
                            <li>
                                <a href="~/SiteManagement/ClientInstallFiles">
                                    <i class="fa fa-angle-double-right"></i> Client Install
                                </a>
                            </li>
                            <li>
                                <a href="~/Hangfire">
                                    <i class="fa fa-angle-double-right"></i> Scheduler Dashboard
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#forms">
                            <i class="fa fa-edit"></i> Scheduled Jobs <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" id="forms">
                            <li>
                                <a href="~/ScheduledJobs">
                                    <i class="fa fa-angle-double-right"></i> View
                                </a>
                            </li>
                            <li>
                                <a href="~/ScheduledJobs/Create">
                                    <i class="fa fa-angle-double-right"></i> Create
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#tables">
                            <i class="fa fa-lock"></i> Security <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" id="tables">
                            <li>
                                <a href="~/SiteManagement/UsersAdmin">
                                    <i class="fa fa-angle-double-right"></i> Users
                                </a>
                            </li>
                            <li>
                                <a href="~/SiteManagement/RolesAdmin">
                                    <i class="fa fa-angle-double-right"></i> Roles
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>


        <!-- begin PAGE-WRAPPER -->
        <div id="page-wrapper">
            <!-- begin PAGE CONTENT -->
            <div class="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            @*<h1>
                                @ViewBag.Title
                            </h1>*@
                            <ol class="breadcrumb">
                                <li class="active"><i class="fa fa-dashboard"></i> @ViewBag.Title</li>
                            </ol>
                        </div>
                    </div>
                </div>
                @RenderBody()


                <hr />


       

                <!-- end PAGE-WRAPPER -->
            </div>
           
            <!-- end PAGE CONTENT -->
        </div>
    
        <!-- end main WRAPPER -->
    </div>
    <footer class="footer text-center text">        
        <p>&copy; @DateTime.Now.Year - Job Engine</p>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/hisrc.js"></script>
    <script src="~/Scripts/flex.js"></script>
</body>
</html>
