@model IEnumerable<JobEngine.Web.Areas.PowerShellJobs.Models.PowerShellJobViewModel>


@{
    ViewBag.Title = "Powershell Jobs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles
{
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <style>
        th {
            text-align: center;
        }
    </style>
}

@section scripts
{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mainTable").DataTable();
        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="mainTable" class="display" style="text-align:center;">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Script)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Script)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PowerShellJobId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PowerShellJobId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PowerShellJobId })
                </td>
            </tr>
        }
    </tbody>

</table>
